<div class="col-12 m-5">
  <nz-timeline>
    <nz-timeline-item nzColor="red" *ngFor="let item of data">
      <ng-container *ngIf="divider(item)">
        <h3 class="m-2">{{ getMonth(item) }}</h3>
      </ng-container>
      <nz-card style="width:90%;" [nzActions]="[actionEdit, actionDelete]">
        <nz-card-meta
          [nzTitle]="item.service"
          [nzDescription]="description"
        ></nz-card-meta>
      </nz-card>
      <ng-template #actionEdit>
        <span nz-icon nzType="edit" (click)="editRow(item)"></span>
      </ng-template>
      <ng-template #actionDelete>
        <nz-button nzDanger nz-icon nzType="delete" (click)="confirmModal(item)"></nz-button>
      </ng-template>
      <ng-template #description>
        <div class="d-flex justify-content-between">
          <div>
            <div> {{item.nextPayment}} </div>
            <div> {{item.price}} {{item.currency}} </div>
          </div>
          <div>
            <app-tags [item]="item"></app-tags>
          </div>
        </div>
      </ng-template>
    </nz-timeline-item>
  </nz-timeline>
</div>
