<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  [nzWidth]="720"
  nzPlacement="right"
  nzTitle="Add subscription"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <form nz-form [formGroup]="form">

      <!-- Service -->
      <app-input [control]="form.get('service')"
                 label="Service"
                 placeholder="Name of service"></app-input>

      <!-- Price -->
      <app-input [control]="form.get('price')"
                 label="Price"
                 placeholder="Price"></app-input>

      <!-- Date -->
      <app-input [control]="form.get('nextPayment')"
                 label="Next payment"
                 type="date"></app-input>
    </form>

    <!-- Categories -->
    <app-input label="Categories"
               type="select"
               placeholder="Categories"
               [selectedValue]="selectedValue"
               [options]="categories"></app-input>
    <hr>

    <div class="col-12 d-flex justify-content-end">
      <button nz-button
              nzType="primary"
              nzShape="round"
              (click)="addNewSub()">+ Add</button>
    </div>
  </ng-container>
</nz-drawer>
